[submodule "ArtifactCore"]
	path = ArtifactCore
	url = https://github.com/lagmajin/ArtifactCore
[submodule "ArtifactWidgets"]
	path = ArtifactWidgets
	url = https://github.com/lagmajin/ArtifactWidgets
[submodule "Artifact"]
	path = Artifact
	url = https://github.com/lagmajin/Artifact
[submodule "libs/DiligentEngine"]
	path = libs/DiligentEngine
	url = https://github.com/DiligentGraphics/DiligentEngine.git
[submodule "third_party/verdigris"]
	path = third_party/verdigris
	url = https://github.com/woboq/verdigris
[submodule "libs/llama.cpp"]
	path = libs/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
